<div class="container">
  <div class="page-header">
    <h1>Lorem ipsum...</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque magni doloremque optio voluptas eaque sequi, odio itaque saepe porro, exercitationem debitis necessitatibus iste magnam dolores quibusdam esse natus, corporis perferendis.
  </div>

  <h3>Loremipsum</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia explicabo saepe voluptatibus, vel architecto accusantium reiciendis corporis similique soluta! Expedita dolorum quas aliquid repellat minus esse quae tempora minima hic.</p>

  <h3>LoremIpsum</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sint doloremque amet libero voluptas maiores exercitationem placeat pariatur recusandae? Sapiente veritatis quos illum aliquid voluptatem amet ipsum quae, voluptate iure!</p>

  <h3>Lorem ipsum...</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia saepe nisi, quam beatae illo unde tenetur, soluta placeat. Ducimus voluptates nesciunt magni maiores numquam libero beatae deserunt adipisci animi quis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident omnis iure veniam ut! Esse veritatis quo magni inventore dolorem? Autem, similique impedit. At ratione, non mollitia ex ipsum sequi iure.</p>

  <h3>Non-responsive grid system</h3>
  <div class="row">
    <div class="col-xs-4">One third</div>
    <div class="col-xs-4">One third</div>
    <div class="col-xs-4">One third</div>
  </div>

</div> <!-- /container -->