<nav aria-label="Page navigation" class="text-center">
  <ul class="pagination">
    <button type='button' class='btn btn-default' ng-disabled='$ctrl.currentPage == 0' ng-click='$ctrl.currentPage = $ctrl.currentPage - 1'>&laquo;</button>
    <button type='button' class='btn btn-default' ng-disabled='$ctrl.currentPage == page.no - 1' ng-repeat='page in $ctrl.pages' ng-click='$ctrl.setPage({index:page.no})' > {{ page.no }}</button>
    <button type='button' class='btn btn-default' ng-disabled='$ctrl.currentPage >= $ctrl.numposts/$ctrl.pageSize - 1' , ng-click='$ctrl.currentPage = $ctrl.currentPage + 1'>&raquo;</button>
  </ul>
</nav>